<header class="header-section">
        <h1>Welcome to my website!</h1>
        <p>Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express, and more.</p>
</header>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<div class="content-section">
					
                    <h2>Website Overview</h2>
                    <p>This site consists of 4 static views (<a href="/">Home</a>, <a href="/about">About</a>, <a href="/htmlDemo">HTML Demo</a>, and <a href="/students/add">Add Student</a>) as well as 5 routes that supply data, including:</p>
                    <ul>
                        <li><a href="/students">All Students</a></li>
                        <li><a href="/students?course=3">Students by Course</a></li>
                        <li><a href="/student/2">A Single Student By Student Number</a></li>
                        <li><a href="/tas">All Managers</a></li>
                        <li><a href="/courses">All Courses</a></li>
                    </ul>
                </div>

                <div class="content-section">
                    <h2>HTML5 Introduction</h2>
                    <p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. HTML5 provides a robust and efficient way to create web pages with rich multimedia content, improved accessibility, and better semantic structure.</p>
                </div>
            </main>
        </div>